<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="numberOfDirectories" value="3"/>
    <add key="numberOfFiles" value="5"/>
    <add key="nameDirectory" value="TestDirectory"/>
    <add key="nameFile" value="TestFile"/>
    <add key="countEventsForCansel" value="6"/>
    <add key="countEventsForExclude" value="10"/>
  </appSettings>
</configuration>