<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="numberOfDirectories" value="3"/>
    <add key="numberOfFiles" value="5"/>
    <add key="nameDirectory" value="TestDirectory"/>
    <add key="nameFile" value="TestFile"/>
  </appSettings>
</configuration>